footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #404040;
  margin-top: 10px;
  color: white;
}

.logo-ligue1{
  display: flex;
}
.logo-ligue1 img{
  width: 20rem;
}

.compo .p1{
  background-color: blue;
  height: 3vw;
  width: 3vw;
  margin: 27% 5%;
  position: absolute;

}
.navbar img{
  height: 5rem;
  width: auto;
}
